USE [master]
GO
/****** Object:  Database [AkirasBoutiques]    Script Date: 26/7/2022 17:11:20 ******/
CREATE DATABASE [AkirasBoutiques]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AkirasBoutiques', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AkirasBoutiques.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AkirasBoutiques_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AkirasBoutiques_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AkirasBoutiques].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AkirasBoutiques]
GO
/****** Object:  Table [dbo].[categoria]    Script Date: 26/7/2022 17:11:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoria](
	[id_categoria] [int] NOT NULL,
	[nombre] [text] NOT NULL,
	[descripcion] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 26/7/2022 17:11:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[id_cliente] [int] NOT NULL,
	[nombre] [text] NOT NULL,
	[apellido] [text] NOT NULL,
	[direccion] [text] NOT NULL,
	[fec_nac] [date] NOT NULL,
	[telefono] [int] NOT NULL,
	[email] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle]    Script Date: 26/7/2022 17:11:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle](
	[id_detalle] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[factura]    Script Date: 26/7/2022 17:11:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[factura](
	[id_factura] [int] NOT NULL,
	[id_cliente] [int] NOT NULL,
	[fecha] [date] NULL,
	[id_detalle] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto]    Script Date: 26/7/2022 17:11:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[id_producto] [int] NOT NULL,
	[nombre] [text] NOT NULL,
	[precio] [int] NOT NULL,
	[stock] [int] NOT NULL,
	[id_categoria] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[categoria] ([id_categoria], [nombre], [descripcion]) VALUES (1, N'Blusa', N'Prenda abierta de tela fina , similar a la camisa , que usan las mujeres y los niños , y que cubre la parte superior del cuerpo')
INSERT [dbo].[categoria] ([id_categoria], [nombre], [descripcion]) VALUES (2, N'Falda', N'Prenda de vestir que cuelga de la cintura y cubre las piernas, al menos en parte. ')
INSERT [dbo].[categoria] ([id_categoria], [nombre], [descripcion]) VALUES (3, N'Pantalón', N'Prenda de vestir que se ajusta a la cintura y llega generalmente hasta el pie , cubriendo cada pierna separadamente .')
GO
INSERT [dbo].[cliente] ([id_cliente], [nombre], [apellido], [direccion], [fec_nac], [telefono], [email]) VALUES (0, N'María Antonieta', N'García Meléndez ', N'Calle las Girasol #305 col. Jardines ', CAST(N'1989-06-15' AS Date), 1828921321, N'mariantonia@gmail.com')
INSERT [dbo].[cliente] ([id_cliente], [nombre], [apellido], [direccion], [fec_nac], [telefono], [email]) VALUES (1, N'Óscar Germán', N'Wong Tabares ', N'Calle Revolución #879 col. México', CAST(N'1994-01-28' AS Date), 2035672143, N'germanwong@gmail.com')
INSERT [dbo].[cliente] ([id_cliente], [nombre], [apellido], [direccion], [fec_nac], [telefono], [email]) VALUES (2, N'Valentina Anastasia', N'Huerta Corral', N'Calle Flamenco #3493 col. Aviar', CAST(N'1992-07-03' AS Date), 0, N'valehue92@gmail.com')
GO
INSERT [dbo].[detalle] ([id_detalle], [id_producto], [cantidad], [precio]) VALUES (1, 32, 4, 1600)
INSERT [dbo].[detalle] ([id_detalle], [id_producto], [cantidad], [precio]) VALUES (2, 8, 3, 690)
INSERT [dbo].[detalle] ([id_detalle], [id_producto], [cantidad], [precio]) VALUES (3, 39, 4, 200)
GO
INSERT [dbo].[factura] ([id_factura], [id_cliente], [fecha], [id_detalle]) VALUES (1, 9, CAST(N'2021-12-22' AS Date), 1)
INSERT [dbo].[factura] ([id_factura], [id_cliente], [fecha], [id_detalle]) VALUES (2, 9, CAST(N'2021-10-11' AS Date), 2)
INSERT [dbo].[factura] ([id_factura], [id_cliente], [fecha], [id_detalle]) VALUES (3, 4, CAST(N'2021-12-07' AS Date), 3)
GO
INSERT [dbo].[producto] ([id_producto], [nombre], [precio], [stock], [id_categoria]) VALUES (1, N'Blusa de flores', 200, 70, 1)
INSERT [dbo].[producto] ([id_producto], [nombre], [precio], [stock], [id_categoria]) VALUES (2, N'Blusa tipo escocesa ', 150, 35, 1)
INSERT [dbo].[producto] ([id_producto], [nombre], [precio], [stock], [id_categoria]) VALUES (3, N'Blusa rayada manga larga', 100, 37, 1)
GO
ALTER TABLE [dbo].[detalle]  WITH CHECK ADD  CONSTRAINT [id_producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[producto] ([id_producto])
GO

ALTER TABLE [dbo].[detalle] CHECK CONSTRAINT [id_producto]
GO
ALTER TABLE [dbo].[factura]  WITH CHECK ADD  CONSTRAINT [id_cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[cliente] ([id_cliente])
GO

ALTER TABLE [dbo].[factura] CHECK CONSTRAINT [id_cliente]
GO
ALTER TABLE [dbo].[factura]  WITH CHECK ADD  CONSTRAINT [id_detalle] FOREIGN KEY([id_detalle])
REFERENCES [dbo].[detalle] ([id_detalle])
GO

ALTER TABLE [dbo].[factura] CHECK CONSTRAINT [id_detalle]
GO
ALTER TABLE [dbo].[producto]  WITH CHECK ADD  CONSTRAINT [id_categoria] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[categoria] ([id_categoria])
GO

ALTER TABLE [dbo].[producto] CHECK CONSTRAINT [id_categoria]
GO
USE [master]
GO

USE AkirasBoutiques
/*CREACIÓN DE TABLAS*/
-- Crear tabla Sucursal
CREATE TABLE sucursal (
    id_sucursal INT PRIMARY KEY IDENTITY(1,1), --Utilicé IDENTITY(1,1) para tener IDs incrementables por la BD
    nombre_sucursal VARCHAR(100) NOT NULL,
    direccion VARCHAR(200) NOT NULL,
    telefono VARCHAR(15) NOT NULL,
    ciudad VARCHAR(100) NOT NULL,
    estado VARCHAR(100) NOT NULL
);

-- Crear tabla empleados
CREATE TABLE empleado (
    id_empleado INT PRIMARY KEY IDENTITY(1,1),
    nombre VARCHAR(100) NOT NULL,
    direccion VARCHAR(200) NOT NULL,
    telefono VARCHAR(15) NOT NULL,
    edad INT NOT NULL,
    id_sucursal INT NOT NULL,
    email VARCHAR(100) NOT NULL,
    password VARCHAR(255) NOT NULL,
    es_encargado BIT DEFAULT 0,
    FOREIGN KEY (id_sucursal) REFERENCES sucursal(id_sucursal)
);


-- Insertar registros en la tabla sucursales


-- Insertar registros en la tabla empleado


SELECT 
	 S.nombre_sucursal
	 ,COUNT(E.id_sucursal) AS CantidadEmpleados
FROM empleado E
INNER JOIN sucursal S ON E.id_sucursal = S.id_sucursal
GROUP BY E.id_sucursal, s.nombre_sucursal

--CONSULTA A LA TABLA EMPLEADO Y SUCURSAL
SELECT * FROM empleado;
SELECT * FROM sucursal;

-- OBTENER ENCARGADO DE SUCURSAL
SELECT TOP (1000) suc.[id_sucursal]
      ,[nombre_sucursal]
      ,suc.[direccion]
      ,suc.[telefono]
      ,[ciudad]
      ,[estado]
      ,emp.nombre as EncargadoDeSucursal
  FROM [AkirasBoutiques].[dbo].[sucursal] suc
  JOIN [AkirasBoutiques].[dbo].[empleado] emp ON suc.id_sucursal = emp.id_sucursal
  WHERE emp.es_encargado = 1


-- Añadimos una relación entre la Factura (Tiket) y la sucursal
ALTER TABLE [dbo].[factura] ADD [id_sucursal] INT NULL

ALTER TABLE [dbo].[factura] ADD CONSTRAINT [id_sucursal] FOREIGN KEY ([id_sucursal])
REFERENCES dbo.sucursal([id_sucursal])


/*-------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------ACTIVDAD II------------------------------------------------------------*/
-- 1. La cantidad de clientes en el año 2021.
USE AkirasBoutiques
SELECT COUNT(*) AS NumeroClientes2021
FROM dbo.factura 
WHERE YEAR(fecha) = 2021


-- 2. La cantidad de clientes en lo que va del año 2022.
SELECT COUNT(*) AS CantidadClientesAnio2022
FROM dbo.factura
WHERE YEAR(fecha) = 2022;

--3. Los clientes que tuvieron compras en diciembre de 2021.
SELECT 
	c.id_cliente
	,c.nombre
	,c.apellido
	,f.fecha as FechaCompra
FROM cliente c
INNER JOIN factura f ON c.id_cliente = f.id_cliente
WHERE YEAR(f.fecha) = 2021 AND MONTH(f.fecha) = 12;


--4. ¿Qué compras han realizado algunos clientes en específico?
-- Buscamos clientes con ID 8,5,3
SELECT c.id_cliente
	,c.nombre
	,c.apellido
	,p.nombre
	,f.fecha as fechaCompra
	FROM cliente c
INNER JOIN factura f ON c.id_cliente = f.id_cliente
INNER JOIN detalle d ON f.id_detalle = d.id_detalle
INNER JOIN producto p ON d.id_producto = p.id_producto
WHERE c.id_cliente IN (8,5,3);


--5. ¿Qué producto es el que más ventas ha tenido?
SELECT 
	TOP 1 p.id_producto,
	CONVERT(NVARCHAR(255), p.nombre) AS Producto,
	SUM(d.cantidad) AS TotalVendido
FROM detalle d
INNER JOIN producto p ON d.id_producto = p.id_producto
GROUP BY p.id_producto, CONVERT(NVARCHAR(255), p.nombre)
ORDER BY TotalVendido DESC;


-- 6. ¿Qué producto tiene más cantidad en stock?
SELECT *
FROM producto
WHERE stock = (SELECT MAX(stock) FROM producto);

--7. Ordenar por fecha las compras que ha habido en la tienda.
SELECT * FROM factura ORDER BY fecha;

--8. Ordenar alfabéticamente los nombres de los clientes de la tienda.
SELECT * 
FROM cliente 
ORDER BY CONVERT(NVARCHAR(255), nombre), CONVERT(NVARCHAR(255), apellido);


--9. Seleccionar cuántos productos hay en cada categoría.
SELECT 
	CONVERT(NVARCHAR(255), c.nombre) AS Categoria, 
	COUNT(p.id_producto) AS ProductosEnCategoria
FROM categoria c
INNER JOIN producto p ON c.id_categoria = p.id_categoria
GROUP BY CONVERT(NVARCHAR(255), c.nombre);


--10. ¿Cuáles son los encargados en cada sucursal de Akira's Boutique?
SELECT 
	s.nombre_sucursal AS Sucursal
	,e.nombre AS Encargado
FROM sucursal s
INNER JOIN empleado e ON s.id_sucursal = e.id_sucursal
WHERE e.es_encargado = 1;


--11. ¿Cuáles son los empleados que trabajan en la sucursal de Akira's Boutique sucursal Constitución?
SELECT  
	s.nombre_sucursal AS Sucursal,
	e.nombre
FROM empleado e
INNER JOIN sucursal s ON e.id_sucursal = s.id_sucursal
WHERE s.nombre_sucursal LIKE '%Constitución';


--12. ¿Cuáles clientes son mayores de 30 años?
SELECT 
	id_cliente
	,nombre
	,apellido
	,DATEDIFF(YEAR, fec_nac, GETDATE()) AS Edad
FROM cliente
WHERE DATEDIFF(YEAR, fec_nac, GETDATE()) > 30;

